.panel-heading .legend {
    float: right;
    font-size: 13px;
}
.panel-heading h1,
.panel-heading h2,
.panel-heading h3,
.panel-heading h4,
.panel-heading h5,
.panel-heading h6 {
    margin: 0;
}
.panel-heading .filters .button-group {
    float: left;
    border-right: 1px solid #EFEFEF;
    margin-right: 10px;
    padding-right: 10px;
}
.panel-heading .filters .button-group:last-child {
    border-right: none;
    margin-right: 0;   
    padding-right: 0px;
}
.element-filters a {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}
.element-filters a.selected {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.element-filters img {
    height: 18px;
    width: auto;
    margin-right: 5px;
    cursor: pointer;
}
h4 .element-filters {
    display: inline;
    margin-left: 10px;
}
.deckbuilder-filters .element-filters {
    margin-top: 8px;
}

.name-search {
    width: 300px;
    margin-bottom: 0px;
    float: right;
}

.btn-default.selected {
    color: #fff;
    background-color: #3097D1;
    border-color: #2a88bd;
}
.col-md-8 .isotope {
    padding: 15px 10px;
}

.card {
    float: left;
    width: 100px;    
    margin: 10px;
}
.card .card-image {
    width: 100px;
    height: 140px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(85,85,85,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(85,85,85,1);
    box-shadow: 0px 0px 5px 0px rgba(85,85,85,1);
    background: url('/img/loading.gif') center center no-repeat;
}
.card .card-image.loaded {
    background: none;
}
.card.not-collected .card-image img.img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}
.card.collected .card-image img.img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.card .card-number {
    text-align: center;
    font-size: 11px;
}
.card .card-image .actions {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
    background: rgba(33, 33, 33, 0.7);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    z-index: 2;
}
.card .card-image .actions a {
    z-index: 99;
    color: #FFFFFF;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}
.card .card-image .actions a:hover {
    text-decoration: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.card .card-image .actions a .fa-circle {
    color: #FFFFFF;
}
.card .card-image .actions a .fa-inverse {
    color: #000000;
}
.card .card-image .actions .add-card-button {
    left: 10px;
    top: 15px;
}
.card .card-image .actions .remove-card-button {
    left: 10px;
    bottom: 15px;
}
.card .card-image .actions .view-full-button {
    top: 50%;
    margin-top: -18px;
    left: 10px;
}
.card .card-image .actions .edit-card-button {
    bottom: 15px;
    right: 10px;
}

.card .card-count,
.card .foil-card {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #666666;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    color: #666666;
    font-size: 18px;
    z-index: 10;
}
.card .foil-card {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #5e4143;
    top: 14px;
    cursor: pointer;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    line-height: 20px;
}
.card .card-image.has-foil .foil-card {
    color: #FFFFFF;
    background: #b1c6ad;
}
.card .card-image:hover .actions {
    display: block;
}

.tooltip-hover {
    position: absolute;
    display: none;
    border: 1px solid #333;
    background-color: #161616;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    font-family: Arial;
    font-size: 11px;
}
.tooltip-hover:first-letter {
    text-transform:capitalize;
}

.deck-row-layout {
    border: 1px solid #CECECE;
    padding: 20px 20px 10px 20px;
    margin: 0px 10px 10px 10px;
}
.deck-row-layout h4 {
    margin-top: 0px;
}
.deck-row-layout h4 span {
    margin: 0px 0px 0px 6px;
}
.deck-row-layout h4 span.label {
    font-size: 50%;
}
span.warning {
    font-size: 11px;
    color: red;
}
h4 span.edit {
    font-size: 11px;
    margin-left: 5px;
}

#delete-deck {
    position: absolute;
    top: 338px;
    right: 30px;
}

.deck-card-layout {
    border: 1px solid #BCBCBC;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    height: 250px;
    position: relative;
}
.deck-card-layout h4 {
    margin: 0 0 5px 0;
}

.percentage-bar {
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: 5px;
    height: 10px;    
}
.percentage-bar span {
    height: 10px;
    display: inline-block;
    margin: 0;
    border: 1px solid #BCBCBC;
    border-left: none;
}
.percentage-bar span:first-child {
    border-left: 1px solid #BCBCBC;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}
.percentage-bar span:last-child {
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
}

.fire-percentage-bar {
    background: #f44242;
}
.ice-percentage-bar {
    background: #bffff4;
}
.wind-percentage-bar {
    background: #6dc47d;
}
.earth-percentage-bar {
    background: #e8c56f;   
}
.lightning-percentage-bar {
    background: #c149e5;   
}
.water-percentage-bar {
    background: #4949e5;
}
.light-percentage-bar {
    background: #efeec9;
}
.dark-percentage-bar {
    background: #565653   
}

.private-message {
    margin-bottom: 30px;
}
.private-message .private-message-avatar {
    text-align: center;
    padding: 0px 10px;
    vertical-align: top;
    width: 74px;
}
.private-message .private-message-body {
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #bddbed;
    color: #333333;
    border: 1px solid #CCC;
}
.private-message.author .private-message-body {
    background: #326684;
    color: #FFFFFF;
}
.private-message.author .private-message-body .text-muted {
    color: #CFCFCF;
}

.footer-text {
    text-align: center;
    font-size: 11px;
    margin: 10px 0;
}